<link rel="stylesheet" type="text/css" href="css/sales.css">

<div id="sales">
  <div class="container">
    <h3 class="text-center main-title">Sell your property</h3>
      <br>
    </p>
    <div id="salesinner">
{{!--       <div class="col-sm-3 form-group">
         <img src="imgs/cartoon.png" style="max-width:100%;"/> 
      </div> --}}
      <div class="col-sm-6 form-group">
        <label for="usr">Buy From: </label>
        <br>
        <select class="salesDropdown" id="buyFrom" value="--Buy From--" style="width:434px;">
          <option value="">Select Seller </option>
          {{#each owners}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <label for="usr">Area:</label>
        <input type="text" class="form-control" id="areaField" name="Area" disabled="disabled">
      </div>
      {{!-- Survey Number --}}
      {{!-- <div class="col-sm-3 form-group">
         <img src="imgs/cartoon.png" style="max-width:100%;"/> 
      </div> --}}
      <div class="col-sm-6 form-group">
        <label for="usr">Survey No: </label>
        <br>
        <select id="survey" value="--Buy From--" style="width:434px">
          <option value="">Select Survey No</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <label for="Address">Address:</label>
        <textarea class="form-control" rows="5" id="addressField" name="Address" disabled="disabled"></textarea>
      </div>
      <br>
      <div class="col-xs-12" size="2">
        <hr>
      </div>{{!-- 
      <div class="col-sm-3">
      </div> --}}
      <div class="col-sm-3 form-group">
        <label for="usr">Buyer: </label>
        <br>
        <select class="salesDropdown" id="sellTo" value="--Select Buyer--" style="width:434px;">
          <option value="">Select Buyer </option>
          {{#each owners}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-3 form-group button-register"> 
        <input type="submit" id="buyButton" class="btn btn-default" value="BUY"/>
      </div>
    </div>
  </div>
</div>
<div id="hidden-users" style="visibility: hidden;">
  {{#each owners}}
  <p id="{{this.name}}" style="display:inline">{{this.propertiesOwned}}</p>
  <p class="ownersBx" style="display:inline">{{this.name}}</p>
  {{/each}} {{!-- To populate area, location --}}
  {{#each surveys}}
  <p class="{{this.surveyNo}}" style="display:inline">{{this.location}}/{{this.area}}</p>
  {{/each}}
</div>